{
  "plugins": [
      ["component", {
          "libraryName": "mission-coms",
          "libDir": "lib",
          "style": false
          // "styleLibrary": {
          //     // "style": false,
          //     // "name": "styles",
          //     // "base": false // no base.css file
          // }
      }],
      ["@babel/proposal-decorators", { "legacy": true }],
      ["@babel/proposal-class-properties", { "loose": true }],
      ["transform-vue-jsx"]
    ]
}
